PRODUCTOS_SERVICE_URL=http://localhost:8081
CARRITO_SERVICE_URL=http://localhost:8082
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_k6i5fiOXd
COGNITO_CLIENT_ID=54029vs6af51eq3psh8pgn9vs0
