# En la instancia, apunta al endpoint de Amazon Aurora, base product_db.
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/product_db
SPRING_DATASOURCE_USERNAME=mercadito
SPRING_DATASOURCE_PASSWORD=mercadito
